{% extends 'base.html' %}


{% block content_title %}
	Диски
{% endblock %}

{% block small_title %}
	экземпляры дисков
{% endblock %}

{% block table %}
    
    <table class="table">
        <thead>
        <tr>
            <th>Модель</th>
            <th>Серийный номер</th>
            <th>Инвентарный номер</th>
        </tr>
        </thead>
        <tbody>
            {% for disk in disks %}
                <tr>
                    <td>{{ disk.disk_model.part_number }}</td>
                    <td>{{ disk.serial_number|default:"-" }}</td>
                    <td>{{ disk.inventory_number|default:"-" }}</td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>
    
{% endblock %}