{% extends 'layouts/datatable_layout.html' %}
{% load static %}

{# Partials Start #}
{% partialdef filter %}
    {% for system in systems %}
        <tr>
            <td class="text-center fs-sm">1</td>
            <td class="fw-semibold fs-sm">{{ system.name }}</td>
            <td class="fs-sm">{{ system.get_family_display }}</td>
            <td><span class="text-muted fs-sm">{{ system.version }}</span></td>
            <td><span class="text-muted fs-sm">{{ system.get_architecture_display }}</span></td>
            <td>{{ system.build }}</td>
            <td>{{ system.edition }}</td>
            <td>{{ system.kernel }}</td>
        </tr>
    {% endfor %}
{% endpartialdef filter %}
{# Partials End #}

{% block css %}
    <!-- Page JS Plugins CSS -->
    <link rel="stylesheet" href="{% static 'assets/js/plugins/datatables-bs5/css/dataTables.bootstrap5.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/js/plugins/datatables-buttons-bs5/css/buttons.bootstrap5.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'assets/js/plugins/datatables-responsive-bs5/css/responsive.bootstrap5.min.css' %}">
{% endblock %}


{% block side %}
    <form hx-get="{% url 'devices:os-list' %}"
          hx-target="#os-body"
          hx-swap="innerHTML"
          hx-trigger="change from:input[type=checkbox]"
          class="p-2 mb-4"
    >
        <div class="mb-3">
            <span class="form-label small mb-2 d-block">Семейство</span>
            {% for choice_value, choice_label in filter.form.family.field.choices %}
                <div class="form-check">
                    <input type="checkbox"
                           class="form-check-input"
                           name="family"
                           value="{{ choice_value }}"
                           id="id_family_{{ forloop.counter0 }}"
                           {% if choice_value in selected_families %}checked{% endif %}>
                    <label class="form-check-label" for="id_family_{{ forloop.counter0 }}">
                        {{ choice_label }}
                    </label>
                </div>
            {% endfor %}
        </div>
    </form>
{% endblock %}


{% block table %}
    <div class="block block-rounded">
        <div class="block-header block-header-default">
            <h3 class="block-title">
                Dynamic Table <small>DataTables Responsive Mode</small>
            </h3>
            <div class="block-options">
                <button
                        type="button"
                        class="btn-block-option"
                        data-toggle="block-option"
                        data-action="fullscreen_toggle"
                ></button>
            </div>
        </div>
        <div class="block-content block-content-full overflow-x-auto">
            <table class="table table-bordered table-striped table-vcenter js-dataTable-responsive">
                <thead>
                <tr>
                    <th class="text-center"></th>
                    <th>Name</th>
                    <th>Семейство</th>
                    <th>Версия</th>
                    <th>Архитектура</th>
                    <th>Сборка</th>
                    <th>Редакция</th>
                    <th>Ядро</th>
                    {#                    <th>Кодовое наименование</th>#}
                </tr>
                </thead>
                <tbody id="os-body">
                {% partial filter %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <!-- jQuery (required for DataTables plugin) -->
    <script src="{% static 'assets/js/lib/jquery.min.js' %}"></script>

    <!-- Page JS Plugins -->
    <script src="{% static 'assets/js/plugins/datatables/dataTables.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/datatables-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/datatables-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/datatables-buttons/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/datatables-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/datatables-buttons-jszip/jszip.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/datatables-buttons-pdfmake/pdfmake.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/datatables-buttons-pdfmake/vfs_fonts.js' %}"></script>
    <script src="{% static 'assets/js/plugins/datatables-buttons/buttons.print.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/datatables-buttons/buttons.html5.min.js' %}"></script>

    <!-- Page JS Code -->
    <script src="{% static 'assets/js/pages/be_tables_datatables.min.js' %}"></script>

{% endblock %}