{% extends 'layouts/object_filtering_list.html' %}


{# Partials Start #}
{% partialdef filter %}
    {% for system in systems %}
        <tr>
            <td class="text-center fs-sm">{{ forloop.counter }}</td>
            <td class="fw-semibold fs-sm">{{ system.name }}</td>
            <td class="fs-sm">{{ system.get_family_display }}</td>
            <td><span class="text-muted fs-sm">{{ system.version }}</span></td>
            <td><span class="text-muted fs-sm">{{ system.get_architecture_display }}</span></td>
            <td>{{ system.vendor.get_country_display }}</td>
        </tr>
    {% endfor %}
{% endpartialdef filter %}
{# Partials End #}

{% block title %}
    Операционные системы
{% endblock %}

{% block side %}
    <h3 class="content-heading">Фильтр данных:</h3>
    <form hx-get="{% url 'devices:os-list' %}"x
          hx-target="#os-body"
          hx-swap="innerHTML"
          hx-trigger="change from:input[type=checkbox]"
          class="mt-2"
    >
        <h5>Семейство ОС</h5>
        <div class="mb-3">
            {% for choice_value, choice_label in filter.form.family.field.choices %}
                <div class="form-check">
                    <input type="checkbox"
                           class="form-check-input"
                           name="family"
                           value="{{ choice_value }}"
                           id="id_family_{{ forloop.counter0 }}"
                           {% if choice_value in selected_families %}checked{% endif %}>
                    <label class="form-check-label" for="id_family_{{ forloop.counter0 }}">
                        {{ choice_label }}
                    </label>
                </div>
            {% endfor %}
        </div>

        <h5>Страна</h5>
        <div class="mb-3">
            {% for choice_value, choice_label in filter.form.vendor_country.field.choices %}
                <div class="form-check">
                    <input type="checkbox"
                           class="form-check-input"
                           name="vendor_country"
                           value="{{ choice_value }}"
                           id="id_vendor_country_{{ forloop.counter0 }}"
                           {% if choice_value in selected_countries %}checked{% endif %}>
                    <label class="form-check-label" for="id_vendor_country_{{ forloop.counter0 }}">
                        {{ choice_label }}
                    </label>
                </div>
            {% endfor %}
        </div>
    </form>
{% endblock side %}

{% block table-title %}
    Операционные системы
{% endblock %}

{% block table %}
    <thead>
    <tr>
        <th class="text-center"></th>
        <th>Name</th>
        <th>Семейство</th>
        <th>Версия</th>
        <th>Архитектура</th>
        <th>Страна</th>
    </tr>
    </thead>
    <tbody id="os-body">
    {% partial filter %}
    </tbody>
{% endblock %}