{% extends 'base.html' %}

{% block content-head %}{% endblock %}

{% block button %}
    <a class="btn btn-primary" href="#">Добавить устройство</a>
{% endblock %}

{% block content_title %}
	Устройства
{% endblock %}

{% block small_title %}
	по типам
{% endblock %}

{% block table %}
    
    <table class="table">
        <thead>
        <tr>
            <th>Тип устройства</th>
            <th>Вендор</th>
            <th>Модель</th>
            <th>Серийный номер</th>
            <th>Инвентарный номер</th>
        </tr>
        </thead>
        <tbody>
            {% for device in devices %}
                <tr>
                    <td>{{ device.device_model.get_kind_display }}</td>
                    <td>{{ device.device_model.vendor }}</td>
                    <td>{{ device.device_model.part_number }}</td>
                    <td>{{ device.serial_number }}</td>
                    <td>{{ device.inventory_number }}</td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>
    
{% endblock %}

