{% extends 'base.html' %}

{% block content_title %}
	Модели устройств
{% endblock %}

{% block small_title %}
	все модели устройств
{% endblock %}

{% block table %}

    <table class="table">
        <thead>
        <tr>
            <th>Тип устройства</th>
            <th>Производитель</th>
            <th>Модель</th>
            <th>Год выпуска</th>
            <th>...</th>
        </tr>
        </thead>
        <tbody>
            {% for device_model in device_models %}
                <tr>
                    <td>{{ device_model.get_kind_display }}</td>
                    <td>{{ device_model.vendor.name }}</td>
                    <td>{{ device_model.part_number }}</td>
                    <td>{{ device_model.production_year }}</td>
                    <td>...</td>
                </tr>            	
            {% endfor %}
            
        </tbody>
    </table>
    
{% endblock %}


