{% extends 'layouts/list_filter_layout.html' %}
{% load crispy_forms_tags %}

{% block side %}
    <form hx-get="{{ request.path }}"
          hx-target="#device-table"
          hx-swap="innerHTML"
          hx-trigger="keyup changed delay:300ms from:input[type=text], change from:input[type=checkbox]"
          class="p-2 mb-4"
          style="max-height: calc(100vh - 6rem); overflow-y: auto; overflow-x: hidden;"
          id="filter-form"
    >
        {{ filter.form.search|as_crispy_field }}
        {% if not kind %}
            {{ filter.form.kind|as_crispy_field }}
        {% endif %}
        {{ filter.form.status|as_crispy_field }}
        {{ filter.form.protocol|as_crispy_field }}
        {{ filter.form.operating_system|as_crispy_field }}
    </form>
{% endblock %}

{% block content_title %}
    {% if kind %}
        {{ title }}
    {% else %}
        Устройства
    {% endif %}
{% endblock %}

{% block table %}
    <table class="table">
        <thead>
        <tr>
            <th>№</th>
            <th>Наименование</th>
            {% if not kind %}
                <th>Тип устройства</th>
            {% endif %}
            <th>IP</th>
            <th>Подключение</th>
            <th>Состояние</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="device-table">
        {% partialdef filtering inline %}
            {% for device in objects %}
                {% if forloop.last and objects.has_next %}
                    {% if kind %}
                        <tr hx-get="{% url 'devices:device-list-by-kinds' device.device_model.kind %}?page={{ objects.next_page_number }}"
                            hx-trigger="revealed"
                            hx-swap="afterend"
                            hx-include="#filter-form">
                            {% else %}
                        <tr hx-get="{% url 'devices:device-list' %}?page={{ objects.next_page_number }}"
                            hx-trigger="revealed"
                            hx-swap="afterend"
                            hx-include="#filter-form">
                    {% endif %}
                {% else %}
                    <tr id="device-{{ device.pk }}">
                {% endif %}
            <td>
                {% with start_index=objects.start_index %}
                    {{ start_index|add:forloop.counter0 }}
                {% endwith %}
            </td>
            <td><a href="#">{{ device }}</a></td>
            {% if not kind %}
                <td>{{ device.device_model.get_kind_display }}</td>
            {% endif %}
            <td>{{ device.management_ip }}</td>
            <td>
                {% for protocol in device.management_protocols.all %}
                    {{ protocol }}<br>
                {% endfor %}
            </td>
            <td>{{ device.get_status_display }}</td>
            <!-- Actions with item -->
            <td class="text-center">
                <div class="btn-group">
                    {#<a href="{% url 'commons:vendor-update' vendor.pk %}"#}
                    <a href="#"
                       class="btn btn-sm btn-alt-secondary"
                       data-bs-toggle="tooltip"
                       title="Редактировать">
                        <i class="fa fa-fw fa-pencil-alt"></i>
                    </a>
                    <button class="btn btn-sm btn-alt-secondary"
                            {# hx-post="{% url 'commons:vendor-delete' vendor.pk %}"#}
                            hx-post="#"
                            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                            hx-target="#vendor-{{ device.pk }}"
                            hx-swap="outerHTML"
                            hx-confirm="Вы уверены, что хотите удалить вендора {{ device }}?"
                            data-bs-toggle="tooltip"
                            title="Удалить">
                        <i class="fa fa-fw fa-times"></i>
                    </button>
                </div>
            </td>
            </tr>
            {% endfor %}
        {% endpartialdef filtering %}
        </tbody>
    </table>
{% endblock %}