{% extends 'layouts/list_filter_layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'assets/js/plugins/select2/css/select2.min.css' %}">
{% endblock %}

{% block content_title %}
    Модели дисков (<span id="disk-total">Всего {{ total }}</span>)
{% endblock %}


{% block side %}
    <form hx-get="{% url 'devices:disk-model-list' %}"
          hx-target="#disk-table-body"
          hx-swap="innerHTML"
          hx-trigger="change from:.js-select2"
          class="p-2 mb-4 sticky-xl-top"
          style="top: 5rem;"
          id="filter-form"
    >
        <span class="form-label small mb-2 d-block">Вендоры</span>
        {{ filter.form.vendor }}
    </form>
{% endblock %}


{% block table %}
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Вендор</th>
            <th>Диск</th>
            <th>Тип</th>
            <th>Объем</th>
            <th>Интерфейс</th>
            <th>Форм-фактор</th>
            <th>Класс</th>
        </tr>
        </thead>
        <tbody id="disk-table-body">
        {% partialdef filtering inline %}
            {% for disk_model in disk_models %}
                <tr>
                    <td>
                        {{ forloop.counter }}
                    </td>
                    <td>{{ disk_model.vendor.name }}</td>
                    <td>{{ disk_model }}</td>
                    <td>{{ disk_model.get_media_type_display }}</td>
                    <td>{{ disk_model.capacity_gb }} Gb</td>
                    <td>{{ disk_model.get_interface_display }}</td>
                    <td>{{ disk_model.get_form_factor_display }}</td>
                    <td>{{ disk_model.device_class }}</td>
                </tr>
            {% endfor %}
            {% if request.htmx %}
                <span id="disk-total" hx-swap-oob="innerHTML">Отфильтровано {{ total }}</span>
            {% endif %}
        {% endpartialdef filtering %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script src="{% static 'assets/js/lib/jquery.min.js' %}"></script>

    <script src="{% static 'assets/js/plugins/select2/js/select2.full.min.js' %}"></script>
    <script>One.helpersOnLoad(['jq-select2']);</script>
    <script>
        $(document).on('change', '.js-select2', function (evt) {
            if (evt.originalEvent) return;
            htmx.trigger(this, 'change');
        });
    </script>
{% endblock %}