{% extends 'base.html' %}

{% block content_title %}
	Модели ОЗУ
{% endblock %}

{% block small_title %}
	все модели ОЗУ
{% endblock %}

{% block table %}

    <table class="table">
        <thead>
        <tr>
            <th>Тип памяти</th>
            <th>Производитель</th>
            <th>Модель</th>
            <th>Объем, ГБ</th>
            <th>Частота, МГц</th>
        </tr>
        </thead>
        <tbody>
            {% for ram_model in ram_models %}
                <tr>
                    <td>{{ ram_model.get_memory_type_display }}</td>
                    <td>{{ ram_model.vendor.name }}</td>
                    <td>{{ ram_model.part_number }}</td>
                    <td>{{ ram_model.memory_size_gb }}</td>
                    <td>{{ ram_model.base_frequency_mhz }}</td>
                </tr>            	
            {% endfor %}
            
        </tbody>
    </table>
    
{% endblock %}