{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-3 order-lg-2">
            {% block side %}

            {% endblock side %}
        </div>
        <div class="col-lg-9 order-lg-1">
            <div class="block block-rounded">
                <div class="block-header block-header-default">
                    <h3 class="block-title">
                        {% block content_title %}{% endblock content_title %}
                        <small>{% block small_title %}{% endblock small_title %}</small>
                    </h3>
                    <div class="block-options">
                        <button
                                type="button"
                                class="btn-block-option"
                                data-toggle="block-option"
                                data-action="fullscreen_toggle"
                        ></button>
                    </div>
                </div>
                <div class="block-content fs-sm">
                    {% block table %}
                    {% endblock table %}
                </div>

                <div class="d-md-flex justify-content-center col-md-auto">
                    <nav>
                        <ul class="pagination">

                            {# Ссылка «Назад» #}
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link previous" href="?page={{ page_obj.previous_page_number }}">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            {% else %}
                                {# Если предыдущей страницы нет, делаем кнопку неактивной #}
                                <li class="page-item disabled">
                    <span class="page-link previous">
                        <i class="fa fa-angle-left"></i>
                    </span>
                                </li>
                            {% endif %}

                            {# Цикл по номерам страниц #}
                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                    {# Текущая активная страница #}
                                    <li class="page-item active">
                                        <span class="page-link">{{ num }}</span>
                                    </li>
                                {% else %}
                                    {# Остальные доступные страницы #}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {# Ссылка «Вперед» #}
                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link next" href="?page={{ page_obj.next_page_number }}">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            {% else %}
                                {# Если следующей страницы нет, делаем кнопку неактивной #}
                                <li class="page-item disabled">
                    <span class="page-link next">
                        <i class="fa fa-angle-right"></i>
                    </span>
                                </li>
                            {% endif %}

                        </ul>
                    </nav>
                </div>


                {#                <div class="d-md-flex justify-content-center col-md-auto">#}
                {#                    <nav>#}
                {#                        <ul class="pagination">#}
                {#                            <li class="page-item">#}
                {#                                <a class="page-link previous">#}
                {#                                    <i class="fa fa-angle-left"></i>#}
                {#                                </a>#}
                {#                            </li>#}
                {#                            <li class="page-item active">#}
                {#                                <a class="page-link">1</a>#}
                {#                            </li>#}
                {#                            <li class="page-item">#}
                {#                                <a class="page-link" type="button">2</a>#}
                {#                            </li>#}
                {#                            <li class="page-item">#}
                {#                                <a class="page-link" type="button">3</a>#}
                {#                            </li>#}
                {#                            <li class="page-item">#}
                {#                                <a class="page-link" type="button">4</a>#}
                {#                            </li>#}
                {#                            <li class="page-item">#}
                {#                                <a class="page-link next">#}
                {#                                    <i class="fa fa-angle-right"></i>#}
                {#                                </a>#}
                {#                            </li>#}
                {#                        </ul>#}
                {#                    </nav>#}
                {#                </div>#}


            </div>
        </div>
    </div>
{% endblock %}
