{% extends 'base.html' %}

{% block content %}
    <div class="row mb-5">
        <div class="col-lg-9">
            {% block content-head %}
                {% lorem 30 w %}
            {% endblock content-head %}
        </div>
        <div class="col-lg-3">
            {% block button %}
                <a href="#" class="btn btn-primary">Add New Object</a>
            {% endblock button %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 order-lg-2">
            {% block side %}

            {% endblock side %}
        </div>
        <div class="col-lg-9 order-lg-1">
            <div class="block block-rounded">
                <div class="block-header block-header-default">
                    <h3 class="block-title">
                        {% block content_title %}{% endblock content_title %}
                        <small>{% block small_title %}{% endblock small_title %}</small>
                    </h3>
                    <div class="block-options">
                        <button
                                type="button"
                                class="btn-block-option"
                                data-toggle="block-option"
                                data-action="fullscreen_toggle"
                        ></button>
                    </div>
                </div>
                <div class="block-content fs-sm">
                    {% block table %}
                    {% endblock table %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
