{% extends 'base.html' %}


{% block content_title %}
	Процессоры
{% endblock %}

{% block small_title %}
	экземпляры процессоров
{% endblock %}

{% block table %}
    
    <table class="table">
        <thead>
        <tr>
            <th>Модель</th>
            <th>Серийный номер</th>
            <th>Инвентарный номер</th>
        </tr>
        </thead>
        <tbody>
            {% for cpu in cpus %}
                <tr>
                    <td>{{ cpu.cpu_model.part_number }}</td>
                    <td>{{ cpu.serial_number|default:"-" }}</td>
                    <td>{{ cpu.inventory_number|default:"-" }}</td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>
    
{% endblock %}