{% extends 'layouts/list_filter_layout.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
    <link rel="stylesheet" href="{% static 'assets/js/plugins/select2/css/select2.min.css' %}">
{% endblock %}

{% block content_title %}
    Диски (<span id="disk-total">{{ total }}</span>)
{% endblock %}


{% block side %}
    <form hx-get="{% url 'devices:disk-list' %}"
          hx-target="#disk-table-body"
          hx-swap="innerHTML"
          hx-trigger="change from:.js-select2, change from:input[type=checkbox]"
          class="p-2 mb-4 sticky-xl-top"
          style="top: 5rem;"
          id="filter-form"
    >
        {{ filter.form|crispy  }}
{#        {{ filter.form.status|as_crispy_field  }}#}
    </form>
{% endblock %}


{% block table %}
    <div id="disk-table-body">
        {% partialdef filtering inline %}

            <table class="js-table-sections table table-hover table-vcenter">
                <thead class="sticky-xl-top" style="top: 3.8rem;">
                <tr>
                    <th></th>
                    <th>Вендор</th>
                    <th>Тип</th>
                    <th>Объем (Gb)</th>
                    <th>Статус</th>
                </tr>
                </thead>
                {% for disk in disks %}
                    <tbody class="js-table-sections-header ">
                    <tr>
                        <td class="text-center"><i class="fa fa-angle-right text-muted"></i></td>
                        <td>{{ disk.disk_model.vendor }}</td>
                        <td>{{ disk.disk_model.get_media_type_display }}</td>
                        <td>{{ disk.disk_model.capacity_gb }}</td>
                        <td>{{ disk.get_status_display }}</td>
                    </tr>
                    </tbody>
                    <tbody class="fs-sm">
                    <tr>
                        <td colspan="2" class="text-end"><em class="fs-sm text-muted">Модель: </em></td>
                        <td colspan="3">{{ disk.disk_model.model_name }}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-end"><em class="fs-sm text-muted">Интерфейс: </em></td>
                        <td colspan="3">{{ disk.disk_model.get_interface_display }}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-end"><em class="fs-sm text-muted">Форм-фактор: </em></td>
                        <td colspan="3">{{ disk.disk_model.get_form_factor_display }}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-end"><em class="fs-sm text-muted">Класс: </em></td>
                        <td colspan="3">{{ disk.disk_model.device_class }}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-end"><em class="fs-sm text-muted">Серийный номер: </em></td>
                        <td colspan="3">{{ disk.serial_number }}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-end"><em class="fs-sm text-muted">Инвентарный номер: </em></td>
                        <td colspan="3">{{ disk.inventory_number }}</td>
                    </tr>
                    </tbody>
                {% endfor %}
                {% if request.htmx %}
                    <span id="disk-total" hx-swap-oob="innerHTML">{{ total }}</span>
                {% endif %}
            </table>
        {% endpartialdef filtering %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'assets/js/lib/jquery.min.js' %}"></script>

    <script src="{% static 'assets/js/plugins/select2/js/select2.full.min.js' %}"></script>
    <script>One.helpersOnLoad(['jq-select2', 'one-table-tools-sections']);</script>
    <script>
        $(document).on('change', '.js-select2', function (evt) {
            if (evt.originalEvent) return;
            htmx.trigger(this, 'change');
        });

        // после замены таблицы заново включаем OneUI table sections
        document.body.addEventListener('htmx:afterSwap', function (evt) {
            if (evt.target && evt.target.id === 'disk-table-body') {
                One.helpers(['one-table-tools-sections']);
            }
        });
    </script>
{% endblock %}