{% extends 'layouts/object_filtering_list.html' %}
{% load objects_list_tags %}

{% block title %}
    Устройства
{% endblock %}


{% block side %}
	<h4>Фильтрация</h4>

{% endblock %}


{% block table-title %}
	Список устройств
{% endblock %}


{% block table %}
    <thead>
    <tr>
        <th></th>
        {% for field in obj_fields %}
            <th>{{ field.verbose_name }}</th>
        {% endfor %}
    </tr>
    </thead>
    {% for object in objects %}
        <tr>
            <td>{{ forloop.counter }}</td>
            {% for field in obj_fields %}
                <td>{{ object|get_field_value:field.name }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
{% endblock %}

